@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.header {
  flex: 0 1 min-content;
  width: 100%;
}

.main {
  width: 100%;
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.main_main {
  flex: 1 1 auto;
  width: 100%;
  padding: 0;
}

.main_footer {
  flex: 0 1 min-content;
  width: 100%;
}
